/* reset
------------------------*/

html,
body,
h1,
h2,
p,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  line-height: 1.0;
}

body{
  
}

#wrapper{
  background: #EFF2F5;
}
footer{
  background: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  line-height: 1.55;;
}
p {
<<<<<<< HEAD
=======
  font-size: 15px;
>>>>>>> 9c27de4 (編集・削除機能／いいね・コメント機能)
  text-decoration: none;
  color: inherit;
  line-height: 1.55;;
}
li {
  text-decoration: none;
  color: inherit;
  line-height: 1.55;;
}

img {
  border: none;
  vertical-align: bottom;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  color: #333;
  font-size: 1.6rem;
  font-family:"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN",Meiryo, sans-serif;
}

footer{
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
}