#wrapper{
    padding: 40px 0;
}

/* header
================================*/

.header{
    padding: 30px 0;
}
.header div{
    text-align: center;
}
.header div.img img{
    width: 250px;
    margin: auto;
}
.header div.text{
    padding: 30px 0;
    width: 375px;
    margin: auto;
}



.timelinebox{
    max-width: 640px;
    width: 640px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #bbb;
    background: #fff;    
}
.timelinebox > .inner {
       width: 95%;
       margin: auto;
       padding: 20px 0;
}
.timelinebox > .inner dl dd .flex{
    display: flex;
    align-items: flex-start;
}
.timelinebox > .inner dl dd .flex{
    display: flex;
    justify-content: flex-start;
}
.timelinebox > .inner dl dd .flex .postimg{
    margin-right: 10px;
    width: 40px;
}
.timelinebox > .inner dl dd .flex .postimg img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;
}



form {
    text-align: center;
    margin-bottom: 20px;
}


form dl{}


form dl dd{}

form dl dd ul{
    display: flex;
    justify-content: space-between;
}

form dl dd ul li{}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #f2f2f2;
    border: 0;

}

form dl{}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #1DA1F2;
    color: white;
    border: none;
    cursor: pointer;
}


/* .timeline
=============================*/

.timeline {
   /*  width: 80%;
    margin: 0 auto; */
}


.box {
    max-width: 640px;
    width: 640px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0 0 5px #bbb;
    background: #fff;
    }
 .box > .innner {
        width: 90%;
        margin: auto;
        padding: 20px 0;
 }

.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fff;
}
<<<<<<< HEAD
.post dl{
=======
.post > dl{
>>>>>>> 9c27de4 (編集・削除機能／いいね・コメント機能)
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0 20px 0;
}
<<<<<<< HEAD
.post dl dt{
    margin-right: 10px;
}
.post dl dt{
=======
.post > dl dt{
    margin-right: 10px;
}
.post > dl dt{
>>>>>>> 9c27de4 (編集・削除機能／いいね・コメント機能)
    width: 50px;
    height: 50px;
    }

<<<<<<< HEAD
    .post dl dt img{
=======
    .post > dl dt img{
>>>>>>> 9c27de4 (編集・削除機能／いいね・コメント機能)
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid #eee;
        }    


<<<<<<< HEAD
.post dl dd{
}
.post dl dd li.timestamp {
=======
.post > dl dd{
}
.post > dl dd li.timestamp {
>>>>>>> 9c27de4 (編集・削除機能／いいね・コメント機能)
    font-size: 0.8em;
    color: #555;
    text-align: left;
}
<<<<<<< HEAD
=======

>>>>>>> 9c27de4 (編集・削除機能／いいね・コメント機能)
.post .postarea{
    padding: 20px 0;
}

<<<<<<< HEAD
=======


/* like
============================*/

.like-button i{
    color: #1DA1F2;
}


/* comment
============================*/

.comment{
    padding: 20px 0 0 0;
    border-bottom: 1px solid #eee;
}

.comment > .flex{ 
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}
.comment .flex div.img{ 
    width: 30px; height: 30px;}
.comment .flex div.img img{ 
    width: 30px; height: 30px!important;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;}
.comment .flex .commentarea{
    margin-left: 10px;

}
.comment .flex div.fukidashi{ 
    width: 100%;
    display: block;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
}
.comment .flex div.fukidashi a{ 
    font-size: 13px;
}
.comment .flex div.fukidashi p{ }
.comment span.timestamp{ 
    font-size: 0.8em;
    color: #555;
    text-align: left;
}



.input_comment{
    padding: 20px 0 0 0;
}
.input_comment dl{
    display: flex;
    justify-self: flex-start;

}
.input_comment dt{
    width: 40px;
    height: 40px;
}
.input_comment dt img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #eee;
}
.input_comment{
}
.input_comment textarea{
    width: 520px;
    margin-bottom: 0;
    padding: 5px 10px;
    box-sizing: border-box;
}
.input_comment button{
    background: #1DA1F2!important;
    border: 0;
}
.input_comment button span.material-icons {
    width: 30px!important;
    height: 30px!important;
    font-size: 25px!important;
    color: #fff!important;
    display: inline-flex!important;
    vertical-align: middle!important;
}

.like{
    margin: 20px 0 0 0;
    padding: 10px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: block;
    text-align: center;
}
.like a{
}
>>>>>>> 9c27de4 (編集・削除機能／いいね・コメント機能)
